{% extends 'products/base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/menu.css' %}" rel="stylesheet">
<link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="hero-white">
        {% include 'products/includes/inc_main_menu.html' %}
    </div>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Создан</th>
            <th scope="col">Обновлен</th>
            <th scope="col">Статус</th>
        </tr>
        </thead>
        <tbody class="">
        {% include 'orderapp/includes/inc_order_list.html' %}
        </tbody>

    </table>
    <button class="btn btn-info btn-block" >
        <a href="{% url 'index' %}">
            на главную
        </a>
    </button>
    <button class="btn btn-info btn-block">
        <a href="{% url 'orderapp:order_create' %}">
            новый
        </a>
    </button>
</div>

{% endblock %}