{% extends 'products/base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
   <div class="container">
       <div class="h1">Уверены, что хотите удалить?</div>
       {% include 'orderapp/includes/inc_order_summary.html' %}
       <form action="{% url 'orderapp:order_delete' object.pk %}" method="post">
           {% csrf_token %}
           <input class="btn btn-danger" type="submit" value="удалить">
       </form>
       <button class="btn btn-success">
           <a href="{% url 'orderapp:main' %}">отмена</a>
       </button>
   </div>
{% endblock %}